@model FlightRoot

<h1>Arrivals from </h1>
<table>
    <tr>
        <th>Time</th>
        <th>Carrier</th>
        <th>Flight</th>
        <th>Origin</th>
        <th>Status</th>
    </tr>
    @foreach (var item in @Model.response)
    {
        <tr>
            <td>@item.arr_time</td>
            <td>@item.airline_iata</td>
            <td>@item.cs_flight_iata</td>
            <td>@item.dep_iata</td>
            <td>@item.status</td>
        </tr>
    }
</table>
