
@model AirlineRoot

<style>
     body {
            background-image: url("https://images.unsplash.com/photo-1454496406107-dc34337da8d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1300&q=80");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
    }

    div{
        font-family: "consolas";  
    }
    
    tr:hover td{
       
        background-color: deepskyblue;}
</style>

<div>
<h1 class="text-center"><b>Airlines</b></h1>
<table class="table"; style="border-style: groove;">
    <tr style="background-color: skyblue;">
        <th>Airline Name<br /><b style="color: red">Note: If airline link gives you a "404 page", click airline logo to go to the homepage</b></th>
        <th>IATA Code</th>
        <th>ICAO Code</th>
        <th>International Flights</th>
    </tr>
    
   @foreach(var item in @Model.response)
   {
       
    <tr style="background-color: #f2f2f2;">
        <td><a asp-protocol="https" asp-host=@item.website target="_blank">@item.name</a></td>
        <!--<td><a asp-protocol="https" asp-host=@item.website>@item.name</a></td>-->
        <td>@item.iata_code</td>
        <td>@item.icao_code</td>
        @if(@item.is_international == 1)
           {
            <td span{content:"\2713";}><span>&#10003;</span></td>
           }
        else   
        {
            <td></td>
        } 
    </tr>
    }
</table>
</div>


