@model AirportRoot

<h1>Airports</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>IATA Code</th>
        <th>ICAO Code</th>
        <th>City</th>
        
    </tr>
    
   @foreach(var item in @Model.response)
   {
       
    <tr>
        <td><a href="@item.website" target="_blank">@item.name</a></td>
        <td>@item.iata_code</td>
        <td>@item.icao_code</td>
        <td>@item.city</td>
       
        
    </tr>
    
    }
</table>
