@model FlightRoot

<style>
    
    tr:hover {background-color: coral;}
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>

<h1>Departures</h1>

<table class="table"; style="border-style: groove;">
    <tr style="background-color: #04AA6D;">
        <th>Time</th>
        <th>Carrier</th>
        <th>Flight</th>
        <th>Destination</th>
        <th>Status</th>
    </tr>
    @foreach (var item in @Model.response)
    {
        <tr>
            <td>@item.dep_time</td>
            <td>@item.airline_iata</td>
            <td>@item.cs_flight_iata</td>
            <td>@item.arr_iata</td>
            <td>@item.status</td>
        </tr>
    }
</table>
